
.btn-rounded {
    border-radius: 25px; /* Ajuste o valor conforme necessário */

  }

    .list-group{
    border: 1px solid #ced4da; /* Borda clara */
    border-radius: 0.5rem; /* Aumento no arredondamento */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidade */
    }

    .buttons{
        display: flex;
        justify-content: space-between; /* Alinha os botões nas extremidades */
    }

