  main {
    margin-bottom: 100px;
    flex: 5;
    padding: 40px;
  }

  .chatbox {
    height: 60vh;
    overflow-y: auto;
    background-color: #1a1a1a;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .chatbox:hover {
    background-color: #2a2a2a;
    border-color: #a6a6a6;
  }

  .iconBot {
    color: white;
  }

  .typing-effect {
    font-family: Helvetica;
    white-space: pre-wrap;
    overflow: hidden;
    color: #00ff00;
    font-style: normal;
  }

  .textbox {
    display: inline-block;
    max-width: 90%;
    padding: 10px 15px;
    margin: 10px 0;
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 10);
    display: flex;
  }

  .chatbot-image {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
