
  main {
    margin-bottom: 100px;
    flex: 5;
    padding: 40px;
  }

  .chatbox {
    height: 60vh;
    overflow-y: auto; /* 'auto' para evitar a barra de rolagem se não necessário */
    background-color: #1a1a1a; /* Um tom mais claro de preto para suavidade */
    border: 1px solid #ced4da; /* Borda clara */
    border-radius: 0.5rem; /* Aumento no arredondamento */
    padding: 1.5rem; /* Aumento no padding para mais espaço interno */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidade */
    transition: background-color 0.3s, border-color 0.3s; /* Transições suaves */
  }
  .chatbox:hover{
    background-color: #2a2a2a; /* Cor de fundo ao passar o mouse */
    border-color: #a6a6a6; /* Mudança na cor da borda ao passar o mouse */
  }

  .iconBot{
    color: white;
  }

  .typing-effect {
    font-family: Helvetica;
    white-space: pre-wrap;
    overflow: hidden;
    color: #00ff00;
    font-style: normal;
    
  }
  .input {
    border-radius: 0.5rem; /* Cantos arredondados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 1); /* Sombra leve */
  }

  .textbox {
    display: inline-block; /* Permite que o balão se ajuste ao conteúdo */
    max-width: 90%; /* Limita a largura do balão */
    padding: 10px 15px; /* Espaçamento interno */
    margin: 10px 0; /* Margem superior e inferior */
    color: white; /* Cor do texto */
    border-radius: 20px; /* Cantos arredondados */
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 10);
    display: flex; /* Usado para alinhar os balões */
}

.textbox::after {
    position: absolute;
    border-style: solid;
    border-color: #DCDCDC ; /* Cores da seta */
}

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
