
.custom-input {
    width: 100%; /* Ajustar para 100% da largura do contêiner */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #b1c8f8;
    border-radius: 4px;
}

.form-container {
    max-width: 700px; /* Definir uma largura máxima para o formulário */
    margin: auto; /* Centralizar o formulário horizontalmente */
}

.form-control{
border: 1px solid #ced4da; /* Borda clara */
border-radius: 0.5rem; /* Aumento no arredondamento */
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidade */
}
