{% include "model-header.html" %}
{% load static %}

{% block content %}

<link href="{% static 'css/chat.css' %}" rel="stylesheet">

<main>
    <div class="container mb-5">
        <h1 class="text-center">Chat</h1>
        <div class="chatbox border-light">
          <div id="chat-messages">
            <div class="iconChat">
                <img src="{% static 'img/icon.png' %}" alt="">
            </div>
            <div class="textbox">
                <strong><p id="intro-message" class="typing-effect"></p></strong>
                <strong><p id="chat-response" class="typing-effect">{{ resposta }}</p></strong>
                
            </div>
        </div>
        </div>

        <form action="" method="POST" id="chat-form" class="mt-3">{% csrf_token %}
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" id="user-input" class="form-control" name="pergunta" placeholder="Digite sua mensagem..." required>
                <div class="button-group">
                    <button type="submit" class="btn btn-success"><i class="fa-solid fa-paperclip"></i></button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <div id="hidden-response" style="display:none;">{{ resposta|default_if_none:'' }}</div>
</main>



{% endblock %}

{% include "model-footer.html" %}