{% include "model-header.html" %}
{% load static %}

<link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css">
<script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>

<link href="{% static 'css/chatbotinterno.css' %}" rel="stylesheet">

{% block content %}
<main>
    <div class="container mb-5">
        <h1 class="text-center">ChatBot Interno</h1>

        <div class="chatbox border-light">
          <div id="chat-messages">
            <div class="iconBot">
                <i class="fa-brands fa-android"></i>
            </div>
            <div class="textbox">
                <strong><p id="intro-message" class="typing-effect"></p></strong>
                <strong><p id="chat-response" class="typing-effect">{{ resposta }}</p></strong>
                
            </div>
        </div>
        </div>

        <form action="{% url 'chatbotInterno_submit' %}" method="POST" id="chat-form" class="mt-3">{% csrf_token %}
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" id="user-input" class="form-control" name="pergunta" placeholder="Digite sua mensagem..." required>
                <div class="button-group">
                    <button type="submit" class="btn btn-success"><i class="fa-solid fa-microphone"></i></button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
        {% if link_arquivo %}
            <div class="mt-4">
                <a href="{{ link_arquivo }}" class="btn btn-primary" download>Baixar Documento</a>
            </div>
        {% endif %}
    </div>
    <div id="hidden-response" style="display:none;">{{ resposta|default_if_none:'' }}</div>
</main>

<py-script>
    import asyncio
    from js import document  # Acesse o DOM diretamente usando JavaScript

    async def digitar_mensagem(element_id, mensagem, velocidade=0.05):
        elem = document.getElementById(element_id)
        texto_atual = ""

        for letra in mensagem:
            texto_atual += letra
            elem.innerHTML = texto_atual
            await asyncio.sleep(velocidade)

    async def exibir_intro_mensagem():
        mensagem_inicial = "Olá guerreiro, sou o Sully, assistente virtual da Comnect. Como posso te ajudar? \U0001F600 \U0001F44B"
        await digitar_mensagem("intro-message", mensagem_inicial, velocidade=0.01)

    async def exibir_resposta(resposta):
        if resposta.strip():
            document.getElementById("intro-message").innerHTML = ""
            await digitar_mensagem("chat-response", resposta, velocidade=0.01)

    def main():
        resposta_elemento = document.getElementById("hidden-response")
        resposta = resposta_elemento.innerHTML.strip()

        if resposta:
            asyncio.ensure_future(exibir_resposta(resposta))
        else:
            asyncio.ensure_future(exibir_intro_mensagem())

    main()
</py-script>

{% endblock %}

{% include "model-footer.html" %}
