{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Comnect-Agenda</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Icon -->
  <link href="{% static 'img/wireless.ico' %}" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <script src="https://kit.fontawesome.com/a42fb6df6b.js" crossorigin="anonymous"></script>

  <!-- CSS Files -->
  <link href="{% static 'css/home.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<!-- Navbar -->
<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'img/icon.png' %}" alt="" onclick="home()">
      </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Início<br></a></li>
        <li><a href="http://www.comnect.com.br/empresa.html">Sobre</a></li>
      </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
      <a class="btn-getstarted" href="login/">Login</a>
    </div>

  </header> <!-- Navbar -->

  <main class="main">

    <!-- Image Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Bem-vindo à sua agenda de ativos da Comnect. Vamos começar?</h1>
            <p>Realize o seu login!</p>
            <div class="d-flex">
              <a href="{% url 'agenda' %}" class="btn-get-started">Agenda</a>
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section> <!-- Image Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
          <!--  <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">-->
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <!--<img src="assets/img/clients/client-2.png" class="img-fluid" alt="">-->
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
           <!-- <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">-->
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
           <!-- <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">-->
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
           <!-- <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">-->
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <!--<img src="assets/img/clients/client-6.png" class="img-fluid" alt="">-->
          </div><!-- End Client Item -->

        </div>

      </div>

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Serviços</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <i class="fa-solid fa-calendar-days"></i>
              <h4><a href="{% url 'agenda' %}" class="stretched-link">Controle de Ativos</a></h4>
              <p>Esse é o controle de ativos da Comnect</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <i class="fa-brands fa-android"></i>
              <h4><a href="{% url 'chatbot' %}" class="stretched-link">ChatBot</a></h4>
              <p>Esclareça as suas dúvidas com o nosso Bot de atendimento</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <i class="fa-brands fa-chrome"></i>
              <h4><a href="http://www.comnect.com.br/servicos.html" class="stretched-link">Conheça os nossos produtos</a></h4>
              <p>Conheça as serviços oferecidos pela Comnect e saiba como podemos auxiliá-lo na gestão de TEF</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <i class="fa-solid fa-book"></i>
              <h4><a href="https://portal.comnect.com.br/user_sessions/new?url_or=%2F" class="stretched-link">Portal</a></h4>
              <p>Portal para abertura de chamados</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="img">
               <!-- <img src="assets/img/services-1.jpg" class="img-fluid" alt=""> -->
              </div>
    </section></section><!-- /Alt Services Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Entre em Contato</h2>
        <p>Fale com o nosso suporte !</p>
      </div><!-- End Section Title -->

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="fa-solid fa-location-dot"></i>
              <div>
                <h3>Endereço</h3>
                <p>R. Eng. Antônio Jovino, 220, São Paulo, SP 05727-220 - Conjunto 43 - Vila Andrade</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="fa-solid fa-phone"></i>
              <div>
                <h3>Contatos</h3>
                <strong><p>+55 (11) 4502 4500</p>
                <p>+55 (11) 4502 4501</p></strong>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="fa-solid fa-envelope"></i>
              <div>
                <h3>E-mail</h3>
                <a href=""><strong><p id="email" style>suporte@comnect.com.br</p></strong></a>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-7">
            <form action="enviar_email" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="500">{% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Insira o seu nome" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Insira o seu E-mail" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Assunto" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Mensagem" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Carregando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                  <button type="submit">Enviar</button>
                </div>
              </div>
            </form>
          </div><!-- End Contact Form -->
        </div>
      </div>
    </section><!-- /Contact Section -->
    <section id="buttonChat" class="buttonChat">
      <div class="chatbutton col-md-12">
          <a href="{% url 'chat' %}">
              <button class="btn btn-primary">Chat</button>
          </a>
      </div>
  </section>
  </main>

  <footer id="footer" class="footer">

    <div class="container-fluid">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Comnect</strong> <span>Todos os direitos reservados</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.linkedin.com/company/wnb/mycompany/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="http://www.comnect.com.br/"><i class="fa-brands fa-chrome"></i></a>
      </div>
      <div class="credits">
        Designed by <a href="https://github.com/sullyanoo?tab=repositories">Luciano Olegario</a>
      </div>
    </div>

  </footer>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>